<!-- <div class="text-layout">
  <h1>{{ title | titlecase }}</h1>
  <h1>{{ 20354 | number }}</h1>
</div>
<button
  pButton
  type="button"
  label="Cambiar Tema"
  icon="pi pi-calendar"
  iconPos="right"
  class="p-button-help"
></button> -->

<!-- layout 50% primdeng -->
<!-- <div class="layout-50-50" [style]="{'margin-top': '.5em'}">
    <p-card [header]="title | titlecase" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        </ng-template>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
        </ng-template>
    </p-card>
</div> -->

<app-menu></app-menu>

<router-outlet></router-outlet>